.card{
    margin: 15px;
    width: 75%;
    padding-bottom: 15px;
    background-color: #2a3035;
    color: white;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.white{
    color: rgb(188, 188, 188);
}

@media (max-width:700px){
    .card{
        margin: 2%;
        width: 95%;
        padding-bottom: 15px;
    }
}