.btn{
    background-color: #3d9af3;
    color: white;
    padding: 5px;
    border-radius: 5%;
    border: 0;
    font-size: 1.2rem;
}

.modal{
    background-color: #2a3035;
    color: white;
}

.backdrop{
    background-color: #1a1a1c;
}
.error{
    color: red;
    padding: 10px;
    font-weight: bold;
}