.sleepItemContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.mainContainer{
    display: flex;
    align-items: left;
    flex-direction: column;
    min-height: 95vh;
    background-color: #1a1a1c;
}
/* c0d9f1 */
.testContainer{
    display: flex;
    align-items: left;
    flex-direction: column;
    min-height: 95vh;
}