.sleepItemContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainContainer{
    display: flex;
    align-items: left;
    flex-direction: column;
    background-color: gray;
    height: 94vh;
    /* width: 100vw; */
    /* position: relative; */
}