.addUserWrapper{
    display:flex;
    padding: 5px;
    padding-bottom: 25px;

}

.button{
    margin-left: 25px;
}

.friendsList{
    background-color: #2a3035;
    color: white;
}

.gray{
    color: #c8cace; 
}